.region-header {
    border: solid;
    margin-top: 20px;
    background-color: lightgray;
}

.capacity-grid {
    margin-bottom: 15px;
}

.section-spacer {
    padding-top: 15px;
    padding-bottom: 15px;
}

.widget {
    border: solid;
    margin-top: 10px;
    /*margin-left: 3px;*/
    /*margin-right: 3px;*/
}

.widget-header {
    border-bottom: solid;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;

}

.widget-data {
    /*border: 1px solid red;*/
    margin: 0px;
    padding: 0px;
    width: 100%;
}

table {
    /*border: 2px solid green;*/
}